*{
    
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #efefef;
}

.dropdown{
    margin-top: 100px;
    border-radius: 30px;
    background-color: rgb(101, 221, 215);
    display: none;
}

.submenu{
    background-color: rgb(245, 166, 135);
    display: none;
}

 .wrapper:hover .dropdown{
    padding: 5px;
    display: inline-block;
}
.helper:hover .submenu{
    padding: 5px;
    margin: 10px;
    display: inline-block;
  
}
.submenu a{
    margin-left: 300px;
}
.dropdown a{
    display: block;
}
.submenu a{
    display:block;
}
button{
    border: 4px solid purple;
    padding: 10px;
    border-radius: 25px;
    position: fixed;

}